<nav class="headerContainer">
    <img src="assets/img/logo2.png">
    <div class="headerLinks hideMobile">
        <a href="#aboutMe">About me</a>
        <a href="#skills">Skills</a>
        <a href="#portfolio">Portfolio</a>
    </div>

    <div class="hideDesktop">
        <img (click)="openMobileMenu()" class="burgerMenu" src="assets/img/icons/burgerMenu.png">
        <div [ngClass]="{'dNone': dNone, 'headerLinks': headerLinks, 'slideIn': slideIn, 'slideOut': slideOut}">
            <img (click)="closeMobileMenu()" class="closeBtn" src="assets/img/icons/close.png">
            <a (click)="closeMobileMenu()" href="#aboutMe">About me</a>
            <a (click)="closeMobileMenu()" href="#skills">Skills</a>
            <a (click)="closeMobileMenu()" href="#portfolio">Portfolio</a>
            <a (click)="closeMobileMenu()" href="#contact">Contact</a>
        </div>
    </div>
</nav>