.headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    background-color: #141D2F;
    padding: 37px 100px;

    .headerLinks {
        display: flex;
        gap: 30px;

        a {
            text-decoration: none;
            color: #ffff;
            font-size: 23px;
            transition: ease-in-out 125ms;

            &:hover {
                transition: ease-in-out 125ms;
                color: #70E61C;
            }
        }
    }
}

.burgerMenu {
    cursor: pointer;
}

.closeBtn {
    cursor: pointer;
    position: absolute;
    top: 48px;
    right: 40px;
}

.dNone {
    display: none !important;
}

.slideIn {
    animation: slideIn ease-in 5s;
}

@keyframes slidein {
    from {
        margin-left: 100%;
    }

    to {
        margin-left: 0%;
    }
}

@media(max-width: 1000px) {
    .headerContainer {
        padding: 37px 25px;

        .headerLinks {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: absolute;
            height: 100vh;
            width: 100vw;
            z-index: 999;
            left: 0;
            top: 0;
            background: rgb(21, 30, 48, 0.6);

            a {
                &:hover {
                    color: #ffff;
                }
            }
        }
    }
}