.headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    background-color: #141D2F;
    padding: 37px 100px;

    .headerLinks {
        display: flex;
        gap: 30px;

        a {
            text-decoration: none;
            color: #ffff;
            font-size: 23px;
            transition: ease-in-out 125ms;

            &:hover {
                transition: ease-in-out 125ms;
                color: #70E61C;
            }
        }
    }
}

.positionFix {
    position: fixed;
}

.burgerMenu {
    cursor: pointer;
}

.closeBtn {
    cursor: pointer;
    position: relative;
    z-index: 1000;
}

.dNone {
    display: none !important;
}

.slideIn {
    animation: slideIn ease-in 0.25s;
}

.slideOut {
    animation: slideOut ease-out 0.25s;
}

.setColorGreen {
    color: #70E61C !important;
}

.setUnderline {
    border-bottom: 3px solid #9747FF;
    width: 55px;
    border-radius: 10px;
}

@keyframes slideIn {
    from {
        margin-left: 100%;
    }

    to {
        margin-left: 0%;
    }
}

@keyframes slideOut {
    from {
        margin-left: 0%;
    }

    to {
        margin-left: 100%;
    }
}

@media(max-width: 1000px) {
    .headerContainer {
        padding: 37px 25px;

        img {
            height: 35px;
        }

        .headerLinks {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: absolute;
            height: 100vh;
            width: 100vw;
            z-index: 999;
            left: 0;
            top: 0;
            background: rgba(20, 29, 47, 0.8);

            a {
                &:hover {
                    color: #ffff;
                }
            }
        }
    }
}

// @media(max-width: 380px) {
//     .closeBtn {
//         right: 13px;
//     }
// }