<nav class="headerContainer">
    <a href="#startSection"><img src="assets/img/logo2.png"></a>
    <div class="headerLinks hideMobile">
        <div>
            <a [ngClass]="{'setColorGreen': clickAboutMe}" (click)="selectedLink('headAbout')" href="#aboutMe">About
                me</a>
            <div [ngClass]="{'setUnderline': clickAboutMe}"></div>
        </div>
        <div>
            <a [ngClass]="{'setColorGreen': clickSkills}" (click)="selectedLink('headSkills')" href="#skills">Skills</a>
            <div [ngClass]="{'setUnderline': clickSkills}"></div>
        </div>
        <div>
            <a [ngClass]="{'setColorGreen': clickPortfolio}" (click)="selectedLink('headPortfolio')"
                href="#portfolio">Portfolio</a>
            <div [ngClass]="{'setUnderline': clickPortfolio}"></div>
        </div>
    </div>

    <div class="hideDesktop">
        <img (click)="openMobileMenu()" class="burgerMenu" src="assets/img/icons/burgerMenu.png">
        <div [ngClass]="{'dNone': dNone, 'headerLinks': headerLinks, 'slideIn': slideIn, 'slideOut': slideOut}">
            <img (click)="closeMobileMenu()" class="closeBtn" src="assets/img/icons/close.png">
            <a (click)="closeMobileMenu()" href="#aboutMe">About me</a>
            <a (click)="closeMobileMenu()" href="#skills">Skills</a>
            <a (click)="closeMobileMenu()" href="#portfolio">Portfolio</a>
            <a (click)="closeMobileMenu()" href="#contact">Contact</a>
        </div>
    </div>
</nav>