<footer>
    <div class="impressumContainer">
        <img src="assets/img/logo2.png">
        <a routerLink="/imprint">Impressum</a>
    </div>
    <span>© Shawn Kastner 2023</span>
    <div class="socialMediaIcons">
        <a target="_blank" href="https://github.com/ShawnKastner"><img src="assets/img/icons/gitHub.png"></a>
        <a href="#contact"><img src="assets/img/icons/mail.png"></a>
        <a target="_blank" href="https://www.linkedin.com/in/shawn-kastner-ab966724b/"><img
                src="assets/img/icons/linkedIn.png"></a>
    </div>
</footer>