<div id="aboutMe" class="aboutMeContainer">
    <div class="zIndex-1 aboutMeDescription">
        <h1 class="fontSize-90">About me</h1>
        <span>
            Hi, I am a Front-end developer based in Bamberg,
            Germany. In the last few months I discovered my passion for programming and
            creating software. After completing an extensive coding school for front-end developers,
            I want to prove myself in the working world. I hope to become a part of your team to develop interesting
            software!
        </span>
        <div class="displayFlex gap-42">
            <img class="scaleImg" style="height: 50px; width: 34.5px" src="assets/img/icons/bulbDesktop.png">
            <span>
                I have done many web development projects, so I have fixed bugs and solved problems very often. Being
                very patient, I can keep a cool head and solve problems in a structured way.
            </span>
        </div>
        <div class="displayFlex gap-35">
            <img class="scaleImg" style="width: 50px; height: 50px" src="assets/img/icons/puzzleDesktop.png">
            <span>
                Caused by my interest in coding, I am a very fast learner in programming skills, logical thinking and
                structured construction. I'm also a very sociable person, I can work alone as good as in teams.
            </span>
        </div>
    </div>

    <div class="zIndex-1 profileImageContainer ">
        <img class="imgFace" src="assets/img/shawnFace2.png">
        <div class="greenLine">

        </div>
    </div>
    <img class="purpleShadow" src="assets/img/shadow/purpleShadow1.png">
</div>