<div id="aboutMe" class="aboutMeContainer">
    <div class="zIndex-1 aboutMeDescription">
        <h1 class="fontSize-90">About me</h1>
        <span>
            Hi, I am a Front-end developer based in Bamberg,<br>
            Germany(....)Lorem ipsum dolor sit amet, consectetur <br>
            adipiscing elit. Ut auctor sem non tempus convallis. <br>Integer et justo vitae urna finibus
            eleifend sit amet porttitor<br> sapien. Donec sollicitudin massa vel lorem vestibulum<br> efficitur.
        </span>
        <div class="displayFlex gap-42">
            <img class="scaleImg" style="height: 50px; width: 34.5px" src="assets/img/icons/bulbDesktop.png">
            <span>
                Some personal thing to share(...) Donec ut <br>
                imperdiet diam, et convallis neque. Class <br>
                aptent taciti sociosqu ad litora torquent per<br>
                conubia nostra, per inceptos himenaeos.
            </span>
        </div>
        <div class="displayFlex gap-35">
            <img class="scaleImg" style="width: 50px; height: 50px" src="assets/img/icons/puzzleDesktop.png">
            <span>
                Some personal thing to share(...) Donec ut <br>
                imperdiet diam, et convallis neque. Class <br>
                aptent taciti sociosqu ad litora torquent per<br>
                conubia nostra, per inceptos himenaeos.
            </span>
        </div>
    </div>

    <div class="zIndex-1 profileImageContainer ">
        <!-- <img src="assets/img/shawnFace3.png"> -->
        <div class="greenLine">

        </div>
    </div>
    <img class="purpleShadow" src="assets/img/shadow/purpleShadow1.png">
</div>