<div class="aboveTheFoldSection">
    <div>
        <img class="shadowImg" src="assets/img/shadow/purpleGreenShadow.png">
        <div class="headlineContainer">
            <!-- <span class="transformSpan">I am</span> -->
            <span class="headlineName">Shawn Kastner</span><br>
            <span>Frontend Developer</span>
            <div class="btnContainer">
                <button class="mainButton">Let's talk!</button>
            </div>
        </div>

        <img class="bowImg" src="assets/img/blueBow2.png">
    </div>
    <div class="socialMediaContainer">
        <div class="purpleLine"></div>
        <a target="_blank" href="https://github.com/ShawnKastner"><img src="assets/img/icons/gitHub.png"></a>
        <a target="_blank" href="#"><img src="assets/img/icons/mail.png"></a>
        <a target="_blank" href="https://www.linkedin.com/in/shawn-kastner-ab966724b/"><img
                src="assets/img/icons/linkedIn.png"></a>
        <span class="hideMobile">shawn.kastner@icloud.com</span>
    </div>
    <div class="scrollDownContainer hideMobile">
        <span>Scroll down</span>
        <img src="assets/img/scrollDownArrow.png">
    </div>
</div>