.aboveTheFoldSection {
    height: 100vh;
    padding: 100px;

    .myImgBig {
        position: absolute;
        left: 90px;
        height: 705px;
    }

    .headlineContainer {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        position: absolute;
        height: 172px;
        right: 100px;
        top: 297px;
        z-index: 1;

        .alignCenterJustifyEnd {
            display: flex;
            justify-content: end;
            align-items: center;
        }

        .btnContainer {
            width: 100%;
            display: flex;
            justify-content: center;
        }

        .transformSpan {
            color: #ffff;
            text-transform: unset;
            transform: rotate(-90deg);
            display: flex;
            align-items: end;
            font-size: 70px;
        }

        .headlineName {
            line-height: 120%;
            font-size: 80px;
            margin: 0;
            color: #ffff;
        }

        span {
            line-height: 120%;
            color: #9747FF;
            font-size: 58px;
            text-transform: uppercase;
        }
    }

    .shadowImg {
        width: 690.7px;
        height: 671.38px;
        position: absolute;
        left: 12px;
        top: 221.62px;
        filter: blur(46.5px);
    }

    .bowImg {
        width: 100%;
        position: absolute;
        left: 0;
        top: 400px;
        height: 971.56px;
    }
}

.socialMediaContainer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 42px;

    .purpleLine {
        width: 100px;
        border: 4px solid #9747FF;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
    }

    span {
        font-size: 23px;
    }

    img {
        transition: ease-in-out 125ms;

        &:hover {
            transition: ease-in-out 125ms;
            transform: scale(1.3);
        }
    }
}

.scrollDownContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 60px;
    right: 40px;
    gap: 3px;
    font-size: 23px;
    transform: rotate(90deg);

    img {
        transform: rotate(-90deg);
    }

}

@media (max-width: 1340px) {

    .aboveTheFoldSection {
        .headlineContainer {
            .headlineName {
                font-size: 50px;
            }

            .transformSpan {
                font-size: 46px;
            }

            span {
                font-size: 36px;
            }
        }

    }

}

@media(max-width: 1000px) {
    .aboveTheFoldSection {
        padding: unset;

        .myImgBig {
            height: 447.82px;
            top: 360px;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .headlineContainer {
            right: unset;
            height: unset;
            top: unset;
            align-items: center;
            bottom: 100px;
        }

        .bowImg {
            height: 467.43px;
        }

        .displayMobile {
            display: flex;
            justify-content: center;
        }

        .shadowImg {
            position: absolute;
            width: 100%;
            top: 390px;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .socialMediaContainer {
            z-index: 1;

            img {
                &:hover {
                    transition: unset;
                    transform: unset;
                }
            }
        }

        .purpleLine {
            width: 64px;
        }
    }

    @media (max-width:600px) {
        .shadowImg {
            right: 0;
        }
    }

    @media(max-width: 510px) {
        .aboveTheFoldSection {
            .myImgBig {
                top: 365px;
            }

            .socialMediaContainer {
                bottom: -230px;
            }

            .headlineContainer {
                top: 690px;

                .transformSpan {
                    font-size: 32px;
                }

                .headlineName {
                    font-size: 33px;
                }

                span {
                    font-size: 24px;
                }
            }
        }
    }

    @media (max-width: 400px) {
        .aboveTheFoldSection {
            .myImgBig {
                top: 295px;
            }

            .headlineContainer {
                top: 590px;
                gap: 15px;

                .headlineName {
                    font-size: 33px;
                }

                span {
                    font-size: 24px;
                }
            }

            .socialMediaContainer {
                bottom: -130px;
            }

            .bowImg {
                height: 445.43px;
                top: 340.09px;
            }

            .width-453 {
                width: 353px;
            }

            .mainButton {
                margin: unset;
            }
        }
    }
}