.contactSection {
    margin-top: 260px;
    padding: 100px;

    .purpleLine {
        width: 50px;
        border: 4px solid #9747FF;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
        position: absolute;
        left: 0;
    }

    .headlineContainer {
        display: flex;
        align-items: center;
    }

    .contactMeSection {
        .fontSize-32 {
            font-size: 32px;
            font-weight: 700;
        }
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 35px;

        .input-style {
            color: #ffff;
            padding: 15px 25px;
            background-color: #141D2F;
            border: 1px solid #9747FF;
            border-radius: 10px;
            font-size: 16px;
            width: 617px;

            &::placeholder {
                color: #ffff;
            }

            &:hover {
                border: 1px solid #70E61C;
            }
        }

        textarea {
            height: 202px;
        }
    }

    .spaceBetween {
        display: flex;
        justify-content: space-between;
    }
}

@media (max-width: 1000px) {
    .contactSection {
        padding: unset;

        .headlineContainer {
            gap: 5px;
            .purpleLine {
                position: unset;
                width: 20px;
            }
        }

        .fontSize-90 {
            font-size: 45px;
        }

        .contactMeSection {
            margin-bottom: 28px; 
        }

        .spaceBetween {
            padding-left: 25px;
            padding-right: 25px;
            flex-direction: column;
        }

        form {
            padding-left: 25px;
            padding-right: 25px;

            .input-style {
                width: 100%;
            }
        }

        .mainButton {
            margin-top: unset;
            position: relative;
            bottom: 38px;
        }

    }
}