<div id="contact" class="contactSection">
    <div class="headlineContainer">
        <div class="purpleLine"></div>
        <h1 class="fontSize-90">Contact</h1>
    </div>
    <div class="spaceBetween">
        <div class="contactMeSection">
            <span class="fontSize-32">Got a problem to solve?</span><br><br>
            <span>Contact me through this form, I am interested in hearing <br>
                you, knowing your ideas and contributing to your projects <br>
                with my work.<br><br></span>
            <span>Need a Frontend developer? <b>Contact me!</b></span>
        </div>

        <form (submit)="sendMail()" ngNativeValidate #myForm>
            <input required  type="text" class="input-style" name="name" #nameField placeholder="Your name">
            <input required type="email" class="input-style" name="email" #emailField placeholder="Your email">
            <textarea required type="text" class="input-style" name="message" #messageField placeholder="Your message"></textarea>
            <span [innerHTML]="successfullSend"></span>
            <button class="mainButton" #sendButton>Send message :)</button>
        </form>
    </div>
</div>