<div id="contact" class="contactSection">
    <div class="headlineContainer">
        <div class="purpleLine"></div>
        <h1 class="fontSize-90">Contact</h1>
    </div>
    <div class="spaceBetween">
        <div class="contactMeSection">
            <span class="fontSize-32">Got a problem to solve?</span><br><br>
            <span>Contact me through this form, I am interested in hearing <br>
                you, knowing your ideas and contributing to your projects <br>
                with my work.<br><br>
                Need a Frontend developer? <b>Contact me!</b></span>
        </div>

        <form>
            <input class="input-style" placeholder="Your name">
            <input class="input-style" placeholder="Your email">
            <textarea class="input-style" placeholder="Your message"></textarea>
            <button class="mainButton">Send message :)</button>
        </form>
    </div>
</div>