.skillsContainer {
    padding-left: 100px;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    position: relative;

    .displayCenter {
        display: flex;
        justify-content: center;
    }

    .skillImagesContainer {
        width: 740px;
        display: flex;
        gap: 90px;
        flex-wrap: wrap;

        img {
            &:hover {
                animation: imagesJump ease-in-out 0.25s;
            }
        }
    }

    .greenShadow {
        position: absolute;
        left: -340px;
        top: 340px;
        filter: blur(25.5px);
        transform: rotate(-151.74deg);
    }

    @keyframes imagesJump {
        50% {
            transform: translateY(-10px);
        }

        100% {
            transform: translateY(0);
        }

    }

    .imagesWithDescription {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .headLineWithLine {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 60px;

        .purpleLine {
            width: 58px;
            border: 4px solid #9747FF;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
        }
    }

    .skillsExperienceText {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: end;
        padding-right: 125px;

        button {
            width: 200px;
        }
    }
}

@media(min-width: 1235px) {
    .hideGetTouchDesk {
        display: none !important;
    }
}


@media (max-width: 1360px) {
    .fontSize-90 {
        font-size: 70px;
    }
}

@media (max-width: 1280px) {
    .fontSize-90 {
        font-size: 60px;
    }
}

@media (max-width: 1235px) {
    .fontSize-90 {
        font-size: 45px;
    }

    .hideGetTouchMobile {
        display: none;
    }

    .skillsContainer {
        flex-direction: column-reverse;
        margin-top: unset;
        padding: unset;
        padding-left: 32px;

        .skillsHeadlineContainer {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            margin-bottom: 60px;
        }

        .skillsExperienceText {
            margin-right: 26px;
            width: 290px;
            padding-right: unset;

            a {
                position: absolute;
                left: 50%;
                transform: translate(-50%, -50%);
                bottom: 0;

            }
        }

        .headLineWithLine {
            justify-content: flex-end;
            gap: 6px;

            .purpleLine {
                position: unset;
                width: 20px;
            }
        }
    }

    @media(max-width: 1000px) {
        .skillImagesContainer {
            justify-content: center;
        }

    }

    @media(max-width: 800px) {
        .skillImagesContainer {
            width: unset !important;
            gap: 100px;
        }
    }

    @media (max-width: 635px) {
        .skillsContainer {
            padding-left: unset;
        }

        .skillImagesContainer {
            padding-left: 25px;
            padding-right: 25px;
        }
    }

    @media(max-width: 400px) {
        .skillImagesContainer {
            gap: 60px !important;
        }
    }
}