<div id="portfolio" class="portfolioContainer">
  <div class="headlineContainer">
    <div class="shortPurpleLine"></div>
    <h1>Portfolio</h1>
    <div class="longPurpleLine"></div>
  </div>

  <div class="portfolioDescription">
    <span
      >This page is a sample of my work - please feel free to try them
      out.</span
    >
  </div>

  <div class="positionProjects">
    <img class="imagesPortfolio" src="assets/img/portfolioImages/join.png" />
    <div class="descriptionProjects">
      <span class="purpleText">Join</span><br />
      <span class="greenText">JavaScript | HTML | CSS</span><br /><br />
      <span
        >Task manager inspired by the Kanban System. Create and <br />organize
        tasks using drag and drop functions, assign users and<br />
        categories.</span
      ><br /><br />
      <div class="btnContainer">
        <a href="https://shawn-kastner.de/join/index.html" target="_blank"
          ><button class="liveTestBtn">Live test</button></a
        >
        <a href="https://github.com/ShawnKastner/Join" target="_blank"
          ><button class="githubBtn">Github</button></a
        >
      </div>
    </div>
  </div>
  <div class="positionProjects columnReverse">
    <div class="descriptionProjects">
      <span class="purpleText">El Pollo Loco</span><br />
      <span class="greenText">JavaScript | HTML | CSS</span><br /><br />
      <span class="textEnd"
        >A simple Jump-and-Run game based on an object-oriented <br />
        approach. Help pepe to find coins and bottles to fight <br />
        against the boss chicken.</span
      ><br /><br />
      <div class="btnContainer">
        <a
          href="https://shawn-kastner.de/ElPolloLoco/index.html"
          target="_blank"
          ><button class="liveTestBtn">Live test</button></a
        >
        <a href="https://github.com/ShawnKastner/El-Pollo-Loco" target="_blank"
          ><button class="githubBtn">Github</button></a
        >
      </div>
    </div>
    <img
      class="imagesPortfolio"
      src="assets/img/portfolioImages/elPolloLoco.png"
    />
  </div>
  <div class="positionProjects">
    <img
      class="imagesPortfolio"
      src="assets/img/portfolioImages/slackClone.png"
    />
    <div class="descriptionProjects">
      <span class="purpleText">Slack-Clone</span><br />
      <span class="greenText">Angular | TypeScript | SCSS | Firebase</span><br /><br />
      <span
        >Slack clone using a Firebase backend, allowing users to engage<br> in both
        private and group chats. This project showcases my skills <br>in building
        real-time communication applications. Explore the<br> seamless chat
        experience and discover how I've leveraged <br>Firebase to deliver a robust
        and user-friendly solution.</span
      ><br><br>
      <div class="btnContainer">
        <a href="https://slack-clone.shawn-kastner.de/" target="_blank"
          ><button class="liveTestBtn">Live test</button></a
        >
        <a href="https://github.com/ShawnKastner/Slack-Clone" target="_blank"
          ><button class="githubBtn">Github</button></a
        >
      </div>
    </div>
  </div>

  <img
    class="greenShadow hideMobile"
    src="assets/img/shadow/greenShadowSkillsPortfolio.png"
  />
</div>
